VITE_SUPABASE_URL=https://uhoilgdxujwxblabdouj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVob2lsZ2R4dWp3eGJsYWJkb3VqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4MzkwMzIsImV4cCI6MjEwMTQxNTAzMn0.xyqMivkpi_9v-SgiwDRmp1q8pM9kqlJEwYdbjj2wwhc